@import '@/styles/mixins';

.root {
  @include breakpoint(md) {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
  }

  padding: 25px 20px;
  background: rgb(149 208 255);
  background: linear-gradient(0deg, rgb(149 208 255 / 100%) 0%, rgb(25 119 241 / 100%) 100%);
  border-radius: 5px;
}

.date {
  @include breakpoint(md) {
    color: var(--color-light-100);
  }

  color: var(--color-accent-100);
}

.temp {
  text-align: center;
}

.line {
  @include border(--color-light-100);

  width: 100%;
  opacity: 0.5;
}

.description {
  @include breakpoint(md) {
    display: none;
  }

  display: flex;
  justify-content: center;
}

.icon {
  color: var(--color-light-100);
}

.location {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.date {
  text-align: center;
}

.feelsLike {
  @include breakpoint(sm) {
    display: none;
  }

  text-align: center;
}

.weatherIcon {
  @include breakpoint(sm) {
    display: none;
  }
}
