@import '@/styles/mixins';

.root {
  padding: 25px 20px;
  background: rgb(149 208 255);
  background: linear-gradient(0deg, rgb(149 208 255 / 100%) 0%, rgb(25 119 241 / 100%) 100%);
  border-radius: 5px;
}

.date {
  color: var(--color-accent-100);
}

.temp {
  text-align: center;
}

.line {
  @include border(--color-light-100);

  width: 100%;
  opacity: 0.5;
}

.description {
  display: flex;
  justify-content: center;
}

.icon {
  color: var(--color-light-100);
}

.location {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.date {
  text-align: center;
}

.feelsLike {
  text-align: center;
}
