.item {
  user-select: none;

  display: flex;
  flex-direction: column;

  padding: 10px 30px;

  background-color: var(--color-light-500);
  border-radius: 5px;

  svg {
    width: 100px;
    height: 100px;
  }
}

.day {
  color: var(--color-dark-900);
}

.temp {
  margin-top: 10px;
  font-size: 28px;
  color: var(--color-dark-900);
}

.date {
  color: var(--color-dark-300);
}

.info {
  color: var(--color-dark-300);
}
