:root {
  // accent
  --color-accent-100: #95d0ff;
  --color-accent-300: #4696ff;
  --color-accent-500: #1977f1;

  // light
  --color-light-100: #fff;
  --color-light-300: #f9f7ff;
  --color-light-500: #f4f2fa;
  --color-light-700: #dcdae0;
  --color-light-900: #c3c1c7;

  // dark
  --color-dark-100: #878787;
  --color-dark-300: #5f5f5f;
  --color-dark-500: #333;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
