@mixin border($borderColor) {
  border: 1px solid var($borderColor);
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: var($fontSize);
  font-weight: var($fontWeight);
  line-height: var($lineHeight);
}

@mixin wrapper($color) {
  padding: 10px;
  background-color: var($color);
  border-radius: 5px;
}

@mixin breakpoint($point) {
  @if $point == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 410px) {
      @content;
    }
  }
}
