@mixin border($borderColor) {
  border: 1px solid var($borderColor);
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: var($fontSize);
  font-weight: var($fontWeight);
  line-height: var($lineHeight);
}

@mixin wrapper {
  background-color: var(--color-light-100);
  border-radius: 5px;
  padding: 10px;
}
