@mixin border($borderColor) {
  border: 1px solid var($borderColor);
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: var($fontSize);
  font-weight: var($fontWeight);
  line-height: var($lineHeight);
}

@mixin wrapper($color) {
  padding: 10px;
  background-color: var($color);
  border-radius: 5px;
}
