.root {
  position: relative;

  overflow: hidden;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container {
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  gap: 1rem;
}

.arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: 0.3s;

  &:hover:not(&:active) {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-500);
  }
}

.page {
  height: 100%;
}
